/* You can add global styles to this file, and also import other style files */
.code-editor-header > i {
  color: rgba(163, 182, 248, 0.8);
  font-size: 20px;
  margin: 0 1rem 0 0;
  display: none;
}
pre,
code {
  font: normal normal 0.8125rem SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  line-height: 20px;
  color: #fff;
  border-radius: 3px;
  margin: 0 0 2rem;
}

.code-editor {
  background: #212636 !important;
  color: #fff;
  margin: 0 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
  border-radius: 4px;
  position: relative;
}

.code-editor-code._wrap > pre {
  white-space: pre-wrap;
}

.code-editor-code > pre:first-child {
  padding-top: 12px;
}

.code-editor-code > pre {
  color: #c3c9d4;
  font-weight: normal;
  font-size: 0.75rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  line-height: 1.125rem;
  -webkit-font-smoothing: antialiased;
  padding: 0 1rem;
  margin: 0;
  border-radius: 0;
  overflow: visible;
  background: transparent;
  clear: both;
}

.code-editor > *:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.code-editor-header {
  position: relative;
  background-color: #2b3351;
  padding: 0.5rem;
  line-height: 1.5;
  min-height: 3.25rem;
  font-size: 0.8125rem;
  color: #8ca6ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.code-editor-header-aside {
  margin-left: auto;
  -webkit-box-ordinal-group: 101;
  -ms-flex-order: 100;
  order: 100;
}

.code-editor-header-aside .button {
  color: #fff;
  background-color: #3f4970;
  vertical-align: top;
}
.button + .button {
  margin-left: 0.5rem;
}
.code-editor-header a {
  color: #fff;
}
.btn-editor {
  color: #fff;
  background-color: #3c4663;
  -webkit-box-shadow: 0 2px 3px 0 rgba(28, 32, 47, 0.64);
  box-shadow: 0 2px 3px 0 rgba(28, 32, 47, 0.64);
  font-size: 13px;
  padding: 0 0.5rem;
}

button:active,
.button._active,
.button:focus {
  background-color: #0e8fff;
  border-color: transparent;
  -webkit-box-shadow: inset 0 2px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 8px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.execution-details > td {
  border-top: 0;
  padding: 0;
  max-width: 10px;
  width: 100%;
}

.code-editor-code._max-height {
  max-height: 30rem;
  overflow: auto;
}

[class^='fa-']:before {
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  font-size: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.code-editor-code .code-log-status {
  float: right;
  display: inline-block;
  background: #252e4c;
  border-radius: 3px;
  padding: 0.0625rem 0.25rem 0;
  text-transform: uppercase;
  font-weight: 400;
  vertical-align: 0.0625rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.8;
  font-size: 0.625rem;
  line-height: 0.875rem;
  color: #97aac8;
}
.code-editor-code > pre._success {
  color: #79d634;
}
.code-editor-code > pre._warning {
  color: #ffb721;
}

.code-editor-code > pre._created {
  color: #3659ff;
}

.code-editor-code > pre._upgraded {
  color: #ff36bc;
}

.code-editor-code._wrap > pre {
  white-space: pre-wrap;
}
.code-editor-code > pre:first-child {
  padding-top: 12px;
}

.code-editor-code > pre:last-child {
  padding-bottom: 12px;
}
.code-editor-code > pre._failed {
  color: #f2405d;
  font-weight: 700;
}
.strong {
  font-weight: 700;
}
.action-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 290px;
  display: inline-block;
  vertical-align: middle;
}
.button i {
  line-height: 1;
  color: inherit;
  margin-right: 0.5em;
  vertical-align: middle;
  font-size: 1.125rem;
}

.opened .execution-details {
  display: table-row;
}
.execution-details {
  display: none;
}

.label-status.failed {
  background: #f2405d;
}

.label-status.successful {
  background: #6dd123;
}

.label-status.running {
  background: #ffb721;
}
.label-status {
  color: #fff !important;
  background: #acd8ff;
}

#completed,
#running,
#failed,
#none {
  display: none;
}

#build-images-body {
  display: none;
}

.execution-header > td:nth-child(3) {
  width: 1%;
  padding-left: 0.5rem;
}
