<div class="ui container" style="margin-top: 10px">
  <div class="ui segment">
    <span class="strong">Deployment</span>
    <button class="ui primary button right floated" (click)="deploy()" style="position: relative; top: -10px;">
      <i class="fas fa-cloud-upload-alt"></i>
      Deploy
    </button>
  </div>
  <table class="ui table">
    <thead>
      <tr>
        <th>Action</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody [ngClass]="{'opened': isLogOpened }">
      <tr>
        <td>
          <span class="action-name strong">Deploy Images</span>
        </td>
        <td>
          <span class="ui label label-status {{status.class}}">{{ status.value }} </span>
        </td>
        <td>
          <a class="ui primary right floated button small" (click)="openLogDetails()">
            <i class="fas fa-greater-than"></i>
            <span style="padding-left: 2px">Logs</span>
          </a>
        </td>
      </tr>
      <tr class="execution-details">
        <td colspan="4">
          <div class="code-editor">
            <div class="code-editor-header">
              <span class="fas fa-greater-than"></span>
              <div class="code-editor-header-aside">
                <div class="code-editor-header-aside">
                  <span class="strong ui label btn-editor btn-editor-fullscreen">Console</span>
                </div>
              </div>
            </div>
            <div class="jQ_terminal code-editor-code _wrap _max-height" id="scroll">
              <pre class="jhtmlGloballogslog" [ngClass]="{'_warning': log.isCommand}" *ngFor="let log of logs"
                [innerHTML]="log.output | sanitizeHtml">
              </pre>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
